{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "plugins": [
    // This enables using new lint rules powered by the TypeScript compiler API.
    "@typescript-eslint",
    // This makes it so the IDE reports lint rejections as warnings only. This is
    // better than errors because most lint rejections are not runtime errors. This
    // allows IDE errors to be exclusive for e.g. static type errors which often are
    // reflective of real runtime errors.
    // https://github.com/bfanger/eslint-plugin-only-warn
    "only-warn",
    // https://github.com/TristonJ/eslint-plugin-prefer-arrow
    "prefer-arrow"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "overrides": [],
  "rules": {
    "prefer-arrow/prefer-arrow-functions": "warn",
    // TypeScript makes these safe & effective
    "no-case-declarations": "off",
    // This rule marks nameof as a warning which is annoying if
    // using nameof heavily. Alternative is to keep this enabled and
    // just disable ESLint around usage of nameof in codebase.
    "@typescript-eslint/no-unsafe-call": "off",
    // Same approach used by TypeScript noUnusedLocals
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }]
  }
}
